<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            ABSENSI
        </a>
        <a class="btn btn-info" href="@Url.Action("logout", "Login")">
            <i class="fa fa-lock"></i>
        </a>
    </div>
</nav>